.site-wrapper {
	background-color: #242424;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	width: 100vw;
	box-sizing: border-box;
}

h1 {
	margin: 5px;
}

nav {
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

nav a {
	text-decoration: none;
	color: #bababa;
	font-weight: bold;
	transition: color 0.2s ease;
}

nav a:hover {
	color: #007bff;
}

.page-content-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 100%;
}

.main-food-page-content-wrapper {
	width: inherit;
	display: flex;
	justify-content: space-around;
	flex-grow: 4;
	height: 70vh;
	flex-wrap: wrap;
}

.aed-buttons {
	display: flex;
	width: 20rem;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

button {
	height: fit-content;
	transition: ease all 0.3s;
	cursor: pointer;
}

.btn-not-active {
	cursor: not-allowed;
}

.content-presenter-wrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
	max-height: 100%;
	box-sizing: border-box;
	width: 50vw;
	align-items: center;
	min-width: 500px;
	justify-content: space-around;
}

.food-grid-container {
	overflow-y: auto;
	display: flex;
	box-sizing: border-box;
	border: 1px solid rgb(169, 43, 135);
	width: 100%;
	flex-grow: 1;
	max-height: 85%;
}

.food-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  	gap: 1rem;
	padding: 1rem;
	width: 100%;
	height: fit-content;
	max-height: 100%;
	justify-items: center;
}

.grid-item-wrapper {
	height: fit-content;
	transition: ease all 0.2s;
}

.grid-item-wrapper:hover {
	transform: scale(1.02);
}

.food-grid-item-wrapper {
	border: 1px solid #082166;
	background-color: rgb(19, 43, 109);
	box-shadow: 0 0 8px rgba(30, 58, 138, 0.3);
}

.recipe-grid-item-wrapper {
	border: 1px solid #8c0202;
	background-color: rgb(109, 17, 17);
	box-shadow: 0 0 8px rgba(185, 28, 28, 0.3);
}

.meal-grid-item-wrapper {
	border: 1px solid #2c004b; /* Royal Purple */
	background-color: rgb(71, 19, 108);
	box-shadow: 0 0 8px rgba(106, 13, 173, 0.3);
}

/* .grid-item-wrapper:active {
	transform: scale(0.96);
} */

.grid-item-wrapper {
	color: #ebeff5;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 350px;
	height: 3.5rem;
	min-height: fit-content;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}

.grid-item-text {
	margin: 0;
	text-align: center;
}

.expand-grid-item {
	position: absolute;
	top: 0.75rem;
	right: 10px;
	font-size: large;
	padding-top: 3px;
	padding-inline: 5px;
	transition: ease all 0.1s;
}

.expand-grid-item:hover {
	transform: scale(1.02);
}

.expanded-items {
	display: flex;
	flex-direction: column;
	align-items: end;
	padding-right: 1rem;
	padding-block: 0.5rem;
	width: 100%;
	gap: 0.5rem;
}

.component {
	border: 1px solid black;
	width: 75% !important;
	z-index: 50;
}

.quick-edit {
	min-width: 500px;
	display: flex;
	width: 50vw;;
	box-sizing: border-box;
	border: 1px solid blue;
}