.site-wrapper {
	background-color: #242424;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	width: 100vw;
	box-sizing: border-box;
}

h1 {
	margin: 5px;
}

nav {
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

nav a {
	text-decoration: none;
	color: #bababa;
	font-weight: bold;
	transition: color 0.2s ease;
}

nav a:hover {
	color: #007bff;
}

.page-content-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 100%;
}

.main-food-page-content-wrapper {
	width: inherit;
	display: flex;
	justify-content: space-around;
	flex-grow: 4;
	height: 70vh;
	flex-wrap: wrap;
}

.aed-buttons {
	display: flex;
	width: 20rem;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

button {
	height: fit-content;
	transition: ease all 0.3s;
	cursor: pointer;
}

.btn-not-active {
	cursor: not-allowed;
}

.content-presenter-wrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
	max-height: 100%;
	box-sizing: border-box;
	width: 50vw;
	align-items: center;
	min-width: 500px;
	justify-content: space-around;
}

.food-list-container {
	overflow-y: auto;
	display: flex;
	box-sizing: border-box;
	border: 1px solid rgb(169, 43, 135);
	width: 100%;
	flex-grow: 1;
	max-height: 85%;
}

.quick-edit {
	min-width: 500px;
	display: flex;
	width: 50vw;;
	box-sizing: border-box;
	border: 1px solid blue;
}